<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>

<body>
    <div class="container-fluid">
        <img src="/Assets/images/product_review.jpg" class="splash-image" alt="logo">
        <a href="/surveyslist"><button  class="button-64" role="button">
            <span class="text">Go to Survey Page</span></button></a>

    </div>
</body>
<%- include Partials/footer.ejs %>